body {
    background-color: aqua;
    font-family: fantasy , sans-serif , serif;
    line-height: 1.6;
}

h1 {
    color: black;
    text-align: center;
    font-weight: bold;
    background-color: white;
    margin-inline: 820px;
}

#image{
    margin: auto;
    display: block;

}

ul {
    color: black;
    background-color: white;
    margin-inline-start: 10px;
    margin-inline: 750px;
    text-align: center;
    



}
a {
    color: green;
    font-family: inherit;
    background-color: inherit;
    
}