body {
    font-family: fantasy , Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: cadetblue;
    color: black;
    line-height: 1.6;
}
h1 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;

}

img {
    display: inline-block;
    float: inline-end;
    margin-right: 1100px;
    padding-block-start: 40px;
}

h2 {
    font-weight: bold;
    font-size: 19px;
}

div {
    font-size: 18px;
    color: red;
}

a {
    color: inherit;
}